/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   color: #e9c46a;
} 

/* header */

header {
    background-color: #264653;
    background-image: url(../imgProyecto/pirineosPano.jpg) ;
    background-size: cover;
    align-items: center;
}
header .logo{
    display: flex;
    flex-direction: column; 
  
    align-items: center;
}
header .logo img{
    padding: auto;
    width: 150px;
    height: 150px;
    align-items: center;
}
header .logo h2{
    font-family: 'Fasthand';
    display: none;
}
/* GENERAL RULES */
h1{
    font-family: 'Fasthand', cursive;
}
p{
    font-family: 'Oswald', sans-serif;
}
/* Main */
#carouselExampleIndicators{
    padding-top: 5px;
}

.container {
    background-color: #e9c46a;
    padding-bottom: 30px;  

}
.container h1{
    font-family: 'Fasthand';
    text-align: center;
}
.container p{
    text-align: center;
    font-size: 18px;
}
.grid{
    
    display: grid;
    grid-template-areas: 
    "equipo historia"
    "ruta contacto";
}
.hojaDeRuta{
    grid-area: ruta;
}
.contacto{
    grid-area: contacto;
}
.historia{
    grid-area: historia;
}
.equipo{
    grid-area: equipo;
}
.flexItem {
    background-color: #e76f51;
    overflow: auto;
    display: inline;
    width: auto;
    height: 200px;
    text-align: center;
    border: 5px solid #2a9d8f;
    margin: 5px;
}
.flexItem h3{
    font-weight: bold;
    font-family: 'Fasthand';
    font-size: 30px;
    color: black;
   /*  align-items:  center; */
}
.flexItem img{
    display: inline;
    width: auto;
    height: 150px;
    }


.flexItem p{
    font-size: 10px;
    overflow: hidden;
}


/*     Equipo       */
#equipoFlex{
    background-color: #e9c46a;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#equipoFlex .secEquipo{
    width: 350px;
    height: 350px;
    overflow: scroll;
    background-color: #e76f51;
    border: 5px solid #2a9d8f;
    margin: 5px;
    flex-direction: row;
    flex-wrap: wrap;
}
#equipoFlex .secEquipo h2{
    font-family: 'Sono', sans-serif;
    text-align: center;
}
#equipoFlex .secEquipo .fotosEquipo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#equipoFlex .secEquipo .fotosEquipo img{
    gap: 3px;
    padding: 5px;
    width: 150px;
    height: 150px;


}








/* Historia */
#historiaMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #e9c46a;
    padding-bottom: 30px;
}
.todoComenzo{
    background-color: #e76f51;
    border: 8px solid #2a9d8f;
}
.todoComenzo h2{
    font-family: 'Sono', sans-serif;
    text-align: center;
}
.todoComenzo p{
    text-align: center;
    padding: 0 20px;
}

.gridHistoria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
.gridHistoria img{
    width: 100px;
    height: 100px;
}




/* HOJA DE RUTA */
#gridRuta{
    background-color: #e9c46a;
    display: flex;
    flex-direction: column;
}
#gridRuta .rutaItem{
    border: 8px solid #2a9d8f;
    background-color: #e76f51;
    margin: 5px;
}
.mapa iframe{
    width: 250px;
    height: 250px;
}
#gridRuta .rutaItem h2{
    text-align: center;
}
#gridRuta .rutaPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow:visible;
}
#gridRuta .trayecto1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#gridRuta .trayecto2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#gridRuta .trayecto3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#gridRuta .trayecto4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#gridRuta .comentario{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:#e76f51;
    grid-area: comentario;
}



/* CONTACTO */

#contacto{
    background-color: #e9c46a;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.formulario{
    width: 400px;
    background-color: #e9c46a;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.flexContacto{
    
    font-size: 15px;
    border: 8px solid #2a9d8f;
    margin: 5px;
    background-color: #e76f51;
}



/* Footer */
.footer{
    display: flex;
    background-color: gainsboro;
    border: 10px solid #2a9d8f;
    flex-flow: row;
    justify-content: space-around;
}
.footer .contactoFoot{
    font-size: 15px;
}
.footer .contactoFoot h4{
    text-align: center;
    
} 
.ulFoot a{
    text-decoration: none;
}
.redesSociales a{
    text-decoration: none;
}
h5{
    text-align: center;
    font-size: large;
}

@media (max-width: 1023px) and (min-width: 768px) {

    body{
        background-color: blue;
    }
    header .logo{
        display: flex;
    }
    header .logo h2{
        display: inline;
        font-family: 'Fasthand';
        font-size: 50px;
        text-align: center;
    }
    /* INDEX */
    .flexItem {
        
        width: auto;
        height: 400px;
        text-align: center;
        border: 5px solid #2a9d8f;
        margin: 5px;
        
    }
    .flexItem img{
        height: 300px;
    }
    .flexItem h3{
        font-weight: bold;
        font-family: 'Fasthand';
        font-size: 35px;
        color: black;
       /*  align-items:  center; */
    }

    .flexItem p{
        font-size: 20px;
    }
    .container h1{
        font-size: 50px;
    }
    /* EQUIPO */
    #equipoFlex h1{
        font-size: 50px;
    }
    #equipoFlex .secEquipo{
        width: 600px;
        height: 350px;
        
    }
    #equipoFlex .secEquipo .fotosEquipo img{
        width: 250px;
        height: 250px;
    }

    /* HISTORIA */
    #historiaMain h1{
        font-size: 50px;
    }
    .todoComenzo{
        width: 600px;
    }
    .gridHistoria img{
        width: 130px;
        height: 140px;
    }

    /* HOJA DE RUTA */
    #gridRuta{
        align-items: center;
    }
    .rutaItem{
        width: 600px;
    }
    .mapa iframe{
        width: 250px;
        height: 250px;
    }
    /* CONTACTO */
    .formulario{
        width: 600px;
    }


}


@media (min-width: 1024px){

    body{
        background-color: blue;
    }
    header .logo{
        display: flex;
    }
    header .logo h2{
        display: inline;
        font-family: 'Fasthand';
        font-size: 50px;
        text-align: center;
    }
    /* INDEX */
    .flexItem {
        
        width: auto;
        height: 400px;
        text-align: center;
        border: 5px solid #2a9d8f;
        margin: 5px;
        
    }
    .flexItem img{
        height: 300px;
    }
    .flexItem h3{
        font-weight: bold;
        font-family: 'Fasthand';
        font-size: 35px;
        color: black;
       /*  align-items:  center; */
    }

    .flexItem p{
        font-size: 20px;
    }
    .container h1{
        font-size: 50px;
    }
    /* EQUIPO */
    #equipoFlex h1{
        font-size: 50px;
    }
    #equipoFlex .secEquipo{
        width: 800px;
        height: 550px;
        
    }
    #equipoFlex .secEquipo .fotosEquipo img{
        width: 350px;
        height: 350px;
    }

    /* HISTORIA */
    #historiaMain h1{
        font-size: 50px;
    }
    .todoComenzo{
        width: 900px;
    }
    .gridHistoria img{
        width: 200px;
        height: 230px;
    }

    /* HOJA DE RUTA */



    #gridRuta{
        display: grid;
        grid-template-areas: 
        "prin prin"
        "track1 track2"
        "track3 track4"
        "coment coment";
    }
    #gridRuta .rutaPrincipal{
        grid-area: prin;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow:visible;
    }
    #gridRuta .trayecto1{
        grid-area: track1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #gridRuta .trayecto2{
        grid-area: track2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #gridRuta .trayecto3{
        grid-area: track3;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #gridRuta .trayecto4{
        grid-area: track4;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #gridRuta .comentario{
        grid-area: coment;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color:#e76f51;
    }


    .mapa iframe{
        width: 400px;
        height: 400px;
    }

    /*  CONTACTO  */
    
    .formulario{
        width: 800px;
    }

}